Package: com.junyut.duhokaybawse
Name: duhokaybawse
Version: 0.0.5
Architecture: iphoneos-arm
Description: Replaces Siri with henchman. voiceover by /u/
Maintainer: Junyu Teoh <illuminarias96@gmail.com>
Author: Junyu Teoh <illuminarias96@gmail.com>
Section: Tweaksi
